*{
    font-family: 'Roboto', sans-serif;
}

html{
    width: 100%;
    height: 100vh;
    background: #242533;
}

#app{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.searchBar{
    padding: 10px;
}
.searchBar div{
    width: 414px;
    background-color: #333a4f;
    margin: 0 auto;
    border-bottom: 2px solid #636f8f;
}
.searchBar input{
    border-radius: 2px;
    border: 0px;
    padding: 10px;
    width: 320px;
    background-color: #333a4f;
    color: #96a4ca;
    font-size: 12pt;
}
.searchBar input:focus{
    outline: 0px;
}
.searchBar input:focus::placeholder{
    color: #636f8f34;
}
.searchBar input::placeholder{
    color: #636f8f;
    font-size: 12pt;
}
.searchBar button{
    text-align: center;
    width: 70px;
    border-radius: 2px;
    border: 0px;
    padding: 10px;
    background-color: #333a4f;
    color: #636f8f;
    cursor: pointer;
}
.searchBar button:focus{
    outline: 0px;
}
.searchBar button:hover{
    background-color: #242938;
    color: #4e5a7a;
}

.userImage img{
    width: 340px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}

.userName{
    font-size: 25pt;
    color: white;
    text-shadow: 2px 2px black;
}

.userUrl{
    font-size: 13pt;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: 100;
    text-decoration: none;
}

.userBio{
    width: 600px;
    margin: 0 auto;
    font-size: 17pt;
    color: white;
    text-shadow: 2px 2px black;
    padding: 10px;
}

.userStats{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 20px;
}
.userStats span{
    margin-right: 20px;
    text-align: center;
}